@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    /*background: linear-gradient(68.15deg, #292020 56.62%, #61453f 85.61%);*/
    background-image: linear-gradient(78deg, #141111, #61453f);
}

header {
    display: flex;
    flex-direction: column;
    border-bottom: 0.4px solid #FFF2E7;
}

.cabecalho-imagem {
    margin: 1rem auto;
    height: 5rem;
    background: linear-gradient(rgba(255, 255, 255, 0.55), rgba(128, 128, 128, 0.578));
    box-shadow: 2px 4px 10px 4px red;
    border-radius: 5px;
}

i#burger {
    color: white;

    text-align: center;
    padding: 0.5rem;
    cursor: pointer;
}

i#burger:hover {
    background-color: white;
    color: black;
}

menu {
    display: none;
}

menu > ul {
    list-style-type: none;
}

menu > ul > li > a {
    display: block;
    padding: 0.3rem;
    background-color: #FFF2E7;
    color: #2F2325;
    font-family: 'Sarala', sans-serif;
    text-align: center;
    border-top: 2px solid #2F2325;
    
}

menu > ul > li > a:hover {
    background-color: rgba(255, 255, 255, 0.982);
}

.conteudo {
    padding-top: 2rem;
    width: 90vw;
    
    margin: auto;
}

.conteudo-principal {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 0 3em;
}

.titulos {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.titulo1 {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 64px;
    color:  #FFF2E7;
}

.subtitulo {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color:  #ECD6C4;
}

.botao {
    background-color: #ECD6C4;
    width: 180px;
    height: 60px;
    border: none;
    border-radius: 20px;
    box-shadow: 1px 5px 4px rgba(238, 104, 104, 0.324);font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.botao a {
    text-decoration: none;
    color: #2F2325;
}

.botao:hover {
    background-color: rgb(120, 43, 43);
    color: rgb(242, 224, 224);
}

.img-principal {
    height: 25rem;
    padding-top: 3em;
}

.conteudo2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 1em;
    padding: 3em;
}

.titulo3 {
    border-top: 0.4px solid #FFF2E7;
    padding-top: 2em;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 24px;
    color:  #FFF2E7;
    margin-bottom: 1em;
}

.frase {
    text-align: justify;
    font-family: 'Sarala', sans-serif;
    font-size: 18px;
    color:  #FFF2E7;
}

.rodape {
    padding: 0.5em;
    border-top: 0.4px solid #FFF2E7;
    text-align: center;
    color: #FFF;
    font-style: italic;
}

/*
.rodape-img {
    height: 3.5em;
    display: block;
    margin: 0 auto;
    animação: myAnim 3s linear 0s  1 normal para a frente; 
}*/

